html,
body {
  overflow-x: hidden;
}
body {
  background-color: #000000;
  color: white;
}
.small-logo {
  max-width: 100%;
  float: left;
  display: block;
  width: 10%;
}
.login-container {
  float: right;
  display: block;
}
.login-container {
  background-color: crimson;
  text-align: center;
  display: flex; /* Use flexbox to arrange items horizontally */
  align-items: center;
  justify-content: center; /* Horizontally center-align the items */
  height: 6vh;
  width: 10vw;
  border-radius: 15px;
  padding: 5px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.top-nav {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.small-logo1 {
  max-width: 100%;
  width: 20%;
  display: block;
}

p {
  margin: 0;
  text-align: center;
  font-size: 24px;
  padding-left: 5%;
}
.nav_links {
  list-style: none;
  text-decoration-line: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin-top: -2%;
  font-size: 1.5em;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 100;
}
.nav-link {
  margin: 0 4rem;
}
@media (max-width: 1200px) {
  .nav-link {
    margin: 0 2rem; /* Reduce the margin for smaller desktop screens */
  }
}

.big-logo {
  width: 100%;
  max-width: 90%;
  padding-bottom: 30%;
}
input.search {
  width: 100%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  display: block;
  padding: 20px 40px 20px 40px; 
  font-size: 20px;
  background-size: 20px; /* Set the size of the icon */
  background-color: black;
  margin-top: 5%;
}
.banner-intro {
  padding-left: 5%;
}

.banner {
  display: flex;
  justify-content: space-between;
  overflow: hidden; /* Prevent horizontal scrolling for the banner container */
}

.banner-content {
  flex: 2; /* Increase the size of banner-content */
  padding: 5%;
  width: 100%;
}

.banner-img {
  flex: 2; /* Adjust the size of banner-img as needed */
  position: relative; /* Position the image container */
  overflow: visible; /* Prevent the image from overflowing */
}

.banner-img img {
  width: 110%; /* Increase the image width by 10% */
  position: relative; /* Position the image */
  left: -5%; /* Crop the left side by 5% */
}

.rotating-circle {
  position: absolute; /* Position the circle absolutely within the banner container */
  bottom: 0; /* Place it at the bottom */
  left: 1;
  z-index: 1;
}

.rotating-circle img {
  width: 70%; /* Adjust the width of the circle image as needed */
  animation: spin 10s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 2rem;
  text-align: center;
}
.browse-title {
  text-shadow: 3px 3px 0px red;
  font-size: 3rem;
}
.image-container {
  display: flex;
  overflow-x: auto;
  align-items: center;
  justify-content: center; 
  padding: 2vw; 
}

.image-figure {
  text-align: center; 
  margin-right: 10px; 
}

.image-figure img {
  max-width: 100%; 
  min-width: 150px; 
  height: auto;
  transition: transform 0.2s; 
}

.image-figure img:hover {
  cursor: pointer;
  transform: scale(
    1.2
  );
}

.image-figure figcaption {
  font-size: 14px; 
  margin-top: 5px; 
}
.image-figure figcaption {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 2vh; 
  margin-top: -15px;
}
.button-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.view-all-button {
  background-color: #f1c100;
  color: rgb(0, 0, 0);
  padding: 20px 50px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-style: italic;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.view-all-button:hover {
  background-color: #8d0000;
}
.grid {
  display: grid;
  grid-template-columns: calc(55% - 5px) calc(45% - 5px); /* Equal-width columns with no gap */
  grid-template-rows: calc(50% - 5px) calc(50% - 5px); /* Equal-height rows with no gap */
  grid-gap: 0;
  width: 75%;
  margin: 0 auto;
  cursor: pointer;
}
.grid .left:hover img {
  opacity: 0.5;
}
.grid .left {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  padding-top: 15%;
  padding-right: 5%;
}

.grid .upperright {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}
.grid .upperright:hover img {
  opacity: 0.5;
}

.grid .lower_right {
  grid-column: 2/2;
  grid-row: 2 / 2;
  padding-top: 5%;
}
.grid .lower_righ:hover img {
  opacity: 0.5;
}
.banner-intro {
  padding-left: 5%;
  margin-top: -25%;
}
h1.trending {
  text-align: left;
  padding-left: 15%;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  text-shadow: 5px 3px 0px red;
}
figcaption.grid {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.item h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  padding: 0%;
  margin-bottom: 0;
  margin-top: 1vh;
}
.item h3 {
  font-size: 1.5rem;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin-top: 1vh;
}
.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 75%;
  margin: 0 auto; 
}

.item1 {
  text-align: center;
}

.item1 img {
  max-width: 95%;
  height: auto;
}

figcaption.recent {
  background-color: red;
  color: white;
  text-align: center;
}
.newsletter-button {
  background-color: #ffffff; 
  border: 3px;
  border-radius: 10px; 
  cursor: pointer; 
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  padding: 1.5rem 3rem;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.newsletter-button:hover {
  background-color: #a10000; 
}
.social-media-icons {
  padding: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #353535;
}
.fa {
  font-size: 1.75rem;
  color: white;
}
.fa:hover {
  color: black;
  transition: color 0.3s ease-in;
}
.footer {
  text-align: center; 
  padding: 20px; 
}

.centered-content {
  display: inline-block; 
  text-align: left; 
  max-width: 800px; 
  margin: 0 auto;
}

.image {
  max-width: 100%; 


@media (max-width: 768px) {
  .top-nav {
    padding-left: 2%;
    padding-right: 2%;
  }

  .small-logo {
    width: 20%; 
  }

  .login-container {
    width: 100%; 
    text-align: center;
  }

  .login-container > p {
    display: none;
  }

  .nav_links {
    flex-direction: column; 
    text-align: center;
    margin-top: 10px;
  }

  .nav-link {
    margin: 20px 0; 
  }
}


@media (max-width: 480px) {
  .top-nav {
    padding-left: 1%;
    padding-right: 1%;
  }

  .small-logo {
    width: 30%; 
  }

  .login-container {
    width: 100%; 
  }
}
@media (max-width: 768px) {
  .banner {
    display: block; 
  }

  .big-logo {
    max-width: 100%;
  }

  .banner-intro {
    padding: 3%;
  }

  .banner-img img {
    width: 100%;
    object-fit: contain; 
  }

  .rotating-circle {
    display: none;
  }
}
@media (max-width: 480px) {
  .big-logo {
    max-width: 100%;
  }

  .search {
    padding: 10px;
    font-size: 14px;
  }
}
h5 {
  font-size: 1.5rem;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 200;
}
.footer .email {
  padding-top: 2vh;
}
.social-media-icons {
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #353535;
}
.name1 {
  text-align: left;
  margin-top: -15px;
  padding-right: 1rem;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 1rem;
  padding-left: 0.5rem;
}
.category1 {
  text-align: left;
  margin-top: 2%;
  padding-left: 2%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  margin-bottom: 2vh;
  padding-left: 0.5rem;
}
.item1:hover img {
  opacity: 0.5;
  cursor: pointer;
}
@media (max-width: 768px) {
  .login-container {
    width: 30%;
  }
}

@media (max-width: 480px) {
  .login-container {
    flex-direction: column; 
    height: auto;
  }

  .login-container img {
    width: 50px; 
    margin-bottom: 10px; 
  }
}
@media (max-width: 1024px) {
  .big-logo {
    max-width: 80%; 
  }
}

/* Media query for tablets and devices */
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    padding: 5%; 
  }

  .banner-content {
    padding: 0;
  }

  .banner-content,
  .banner-img {
    flex: 1; 
    width: 100%;
  }

  .banner-img img {
    width: 100%; 
  }

  .rotating-circle {
    display: none; /* Hide the rotating circle on smaller screens */
  }
  .browse-title {
    text-shadow: 3px 3px 0px red;
    font-size: 2rem;
  }
  .image-container {
    display: flex;
    overflow-x: auto; 
    align-items: center; 
    justify-content: center; 
    padding: 2vw; 
  }

  .image-figure {
    text-align: center; 
    margin-right: 10px; 
  }

  .image-figure img {
    /* max-width: 200%; Resize images to fit container width */
    height: auto;
    transition: transform 0.2s; 
  }

  .image-figure figcaption {
    font-size: 14px; 
    margin-top: 5px; 
  }
  .image-figure figcaption {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1vh; 
    margin-top: 5px; 
  }

  .view-all-button {
    background-color: #f1c100;
    color: rgb(0, 0, 0);
    margin-top: 5%;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-style: italic;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 100%; 
    grid-template-rows: auto; 
    width: 80%; 
    padding-top: 5%;
  }

  .grid .left,
  .grid .upperright,
  .grid .lower_right {
    grid-column: auto; 
    grid-row: auto; 
    padding: 0; 
    padding-top: 5%;
  }
  h1.trending {
    padding-left: 0;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0%;
    text-shadow: 5px 3px 0px red;
  }
}


@media (max-width: 480px) {
  .grid {
    width: 100%; 
  }
}
@media (max-width: 768px) {
  .grid1 {
    grid-template-columns: repeat(2, 1fr); 
    width: 90%; 
  }

  .item1 h4,
  .item1 h3 {
    font-size: 2.5vh; 
  }
}


@media (max-width: 480px) {
  .banner-intro > h1 {
    font-size: 1.5rem;
  }
  .grid1 {
    grid-template-columns: 1fr;
    width: 90%; 
  }

  .item1 h4,
  .item1 h3 {
    font-size: 2vh; 
  }
}
