body {
  background-color: #000000;
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

@media (max-width: 768px) {
  .nav_links {
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }

  .nav-link {
    margin: 10px 0; /* Adjust spacing between links */
  }
}

/* For tablets: 2 columns */

.small-logo {
  max-width: 100%;
  float: left;
  display: block;
  width: 10%;
}
.top-nav {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  margin: 0;
  text-align: center;
  font-size: 24px;
}
.nav_links {
  list-style: none;
  text-decoration-line: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin-top: -2%;
  font-size: 1.5em;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 100;
}

.nav-link {
  margin: 0 4rem;
}

.nav-link {
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
}

.nav-link:hover {
  color: red;
  transform: scale(1.05);
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
  .nav_links {
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Add some padding for better spacing */
  }

  .nav_links {
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }

  .nav-link {
    margin: 10px 0; /* Adjust spacing between links */
  }
}

.small-logo {
  max-width: 100%;
  float: left;
  display: block;
  width: 10%;
}
.top-nav {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  margin: 0;
  font-size: 24px;
}
.nav_links {
  list-style: none;
  text-decoration-line: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin-top: -2%;
  font-size: 1.5em;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 100;
}

.nav-link {
  margin: 0 4rem;
}

.nav-link {
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
}

.nav-link:hover {
  color: red;
  transform: scale(1.05);
}
@media (max-width: 1200px) {
  .nav-link {
    margin: 0 2rem; /* Reduce the margin for smaller desktop screens */
  }
}

.newsletter-button {
  background-color: #ffffff; /* Button background color */
  border: 3px;
  border-radius: 10px; /* Add rounded corners */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  padding: 1.5rem 3rem;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.newsletter-button:hover {
  background-color: #a10000; /* Change button color on hover */
}
.social-media-icons {
  padding: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #353535;
}
.fa {
  font-size: 1.75rem;
  color: white;
}
.fa:hover {
  color: black;
  transition: color 0.3s ease-in;
}
.footer {
  text-align: center; /* Center-align the content within the footer */
  padding: 20px; /* Add padding for spacing */
}
.image {
  max-width: 100%; /* Ensure the image resizes proportionally */
}

/* For screens with a maximum width of 768px (tablet) */
@media (max-width: 768px) {
  .top-nav {
    padding-left: 2%;
    padding-right: 2%;
  }

  .nav_links {
    flex-direction: column; /* Stack the navigation links vertically */
    text-align: center;
    margin-top: 10px;
  }

  .nav-link {
    margin: 20px 0; /* Add space above and below the nav links */
  }
}

/* For screens with a maximum width of 480px (mobile) */
@media (max-width: 480px) {
  .top-nav {
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media (max-width: 768px) {
  .banner {
    display: block; /* Stack content vertically for smaller screens */
  }

  .big-logo {
    max-width: 100%;
  }

  .banner-intro {
    padding: 3%;
  }

  .banner-img img {
    width: 100%;
    object-fit: contain; /* Maintain aspect ratio and fit within the container */
  }
  .rotating-circle {
    width: 35%;
  }
}
@media (max-width: 480px) {
  .big-logo {
    max-width: 100%;
  }

  .search {
    padding: 10px;
    font-size: 14px;
  }
}
h5 {
  font-size: 1.2rem;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 200;
}
.footer .email {
  padding-top: 2vh;
}
.social-media-icons {
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #353535;
}

.recipe-image img {
  box-shadow: -12px 12px 0 rgb(182, 0, 0);
  width: 50%;
  height: auto;
}
.recipe-container {
  display: flex;
  justify-content: space-between; /* This will put the intro and desc side by side */
  align-items: flex-start; /* This aligns them at the top */
}

.recipe-intro {
  flex: 1; /* This allows the intro to take up available space */
  margin-right: 20px; /* Adjust the margin as needed */
}

.recipe-desc {
  flex: 1;
}
html,
body {
  overflow-x: hidden;
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-weight: 100;
}

.small-logo {
  max-width: 100%;
  float: left;
  display: block;
  width: 10%;
}
.top-nav {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  list-style: none;
  text-decoration-line: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin-top: -2%;
  font-size: 1.5em;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 100;
}

.nav-link {
  margin: 0 4rem;
}

.nav-link {
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
}

.nav-link:hover {
  color: red;
  transform: scale(1.05);
}
@media (max-width: 1200px) {
  .nav-link {
    margin: 0 2rem; /* Reduce the margin for smaller desktop screens */
  }
}

/* Hide default checkboxes */
.ingredient-list input[type="checkbox"] {
  display: none;
}
.ingredient-list {
  list-style: none;
  font-size: 1.5rem;
}
/* Style custom checkboxes */
.ingredient-list label {
  position: relative;
  padding-left: 2.5rem;
  cursor: pointer;
  display: block;
}

.ingredient-container {
  display: flex;
  justify-content: center; /* Center the container */
  padding-top: 2rem;
}

.ingredients {
  display: flex;
  flex-wrap: wrap; /* Allow content to wrap on smaller screens */
  justify-content: center; /* Center the items horizontally */
  max-width: 100%; /* Set maximum width for responsiveness */
  margin: 0 auto; /* Center the container */
  padding: 1rem; /* Add padding around the items */
}

.ingredient-img {
  max-width: 100%; /* Ensure the image scales within the container */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 1rem;
  margin-top: 1rem; /* Add some space between the list and the image */
}

.ingredient-list {
  list-style: none;
  padding: 0;
}

.ingredient-list li {
  margin-bottom: 1rem; /* Add spacing between list items */
  position: relative; /* Set position relative for pseudo-elements */
}

.ingredient-list label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2.5px solid #fff;
  background-color: #000;
}

.ingredient-list input[type="checkbox"]:checked + label:before {
  background-color: #000;
}

.ingredient-list label:after {
  content: " ";
  position: absolute;
  display: none;
}

.ingredient-list input[type="checkbox"]:checked + label:after {
  display: block;
  left: 10px;
  top: 2px;
  width: 5px;
  height: 12px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.recipe-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
  padding-top: 2rem;
}

.recipe-intro img {
  box-shadow: -12px 12px 0 rgb(182, 0, 0);
  margin-right: 3rem;
}

.description {
  text-align: left;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  letter-spacing: 0.1rem;
  line-height: 1.2;
}

.recipe-info {
  display: flex;
}

.subheading {
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -15px;
  font-size: 1.5rem;
  font-style: italic;
}

.info-rows {
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon {
  margin-bottom: 10px;
}

.recipe-name {
  font-size: 2.5rem;
  text-shadow: 4px 4px rgb(174, 0, 0);
}

.save-button {
  background-color: #f1c100;
  color: black;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  width: 35%;
}

.save-button i {
  margin-right: 10px; /* Space between icon and text */
}

.save-button {
  display: flex;
  align-items: center;
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
}

.save-button svg {
  margin-right: 8px; /* Adjust the spacing between the icon and the text */
}

.fa-star::before {
  color: white; /* Set the star's color to white */
  background-color: black; /* Set the background to black */
}

.recipe-desc {
  margin-top: -2rem;
  margin-left: 2rem;
}

/* Media queries for tablet and mobile responsiveness */
@media (max-width: 1024px) {
  .recipe-container {
    flex-direction: column;
    align-items: center;
  }

  .recipe-intro img {
    width: 100%;
    margin-right: 0;
    margin-bottom: -1rem;
  }

  .save-button {
    margin-top: 1.5rem;
  }
}

@media (max-width: 768px) {
  .recipe-container {
    width: 90%;
  }

  .description {
    font-size: 1.3rem;
  }

  .recipe-name {
    font-size: 2rem;
  }
}
.instruction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}
.step {
  width: 47.5%;
  flex-direction: column;
  display: flex;
}
.step-img {
  width: 100%; /* Ensure the image takes full width */
  overflow: hidden; /* Hide overflowing content */
}
.step-img img {
  width: 100%; /* Make sure the image takes full width */
  height: auto; /* Make the image take full height of its container */
}
.step-instruction {
  flex-wrap: wrap;
  word-break: break-word; /* Allow long words to break */
  font-weight: 100;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .step {
    width: 100%; /* Set full width on smaller screens */
  }
}
.ingredient-title {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.15cm;
  font-size: 2.5rem;
}
.submenu {
  font-weight: 100;
}
h4 {
  font-weight: 200;
}
.big-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.15cm;
}
.step-by-step {
  padding-top: 5%;
  text-align: center;
  font-weight: 100;
  margin-bottom: -25px;
  font-size: 1.5rem;
  color: rgb(147, 0, 0);
}
.step-count span {
  display: inline-block;
  width: 35px; /* Set the width of the circle */
  height: 35px; /* Set the height of the circle */
  border-radius: 50%; /* Make it a circle */
  background-color: rgb(174, 0, 0); /* Set the background color */
  color: white; /* Text color */
  text-align: center;
  line-height: 30px; /* Center the number vertically */
  margin-right: 10px; /* Adjust for spacing */
}
.rating {
  text-align: center;
}

.enjoy {
  text-shadow: 4px 4px rgb(174, 0, 0);
  font-size: 2.5rem;
}
.newsletter-button {
  background-color: #ffffff; /* Button background color */
  border: 3px;
  border-radius: 10px; /* Add rounded corners */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  padding: 1.5rem 3rem;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.newsletter-button:hover {
  background-color: #a10000; /* Change button color on hover */
}
.social-media-icons {
  padding: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #353535;
}
.fa {
  font-size: 1.75rem;
  color: white;
}
.fa:hover {
  color: black;
  transition: color 0.3s ease-in;
}
.footer {
  text-align: center; /* Center-align the content within the footer */
  padding: 20px; /* Add padding for spacing */
}

.centered-content {
  display: inline-block; /* Center the content as a block element */
  text-align: left; /* Reset text alignment within the centered block */
  max-width: 800px; /* Set a maximum width for the centered content */
  margin: 0 auto; /* Center horizontally within the footer */
}

@media (max-width: 768px) {
  .top-nav {
    padding-left: 2%;
    padding-right: 2%;
  }

  .nav_links {
    flex-direction: column; /* Stack the navigation links vertically */
    text-align: center;
    margin-top: 10px;
  }

  .nav-link {
    margin: 20px 0; /* Add space above and below the nav links */
  }
}

/* For screens with a maximum width of 480px (mobile) */
@media (max-width: 480px) {
  .top-nav {
    padding-left: 1%;
    padding-right: 1%;
  }
}
.recipe-container {
  display: flex;
  margin: 0 auto;
  width: 80%;
  padding-top: 2rem;
}

.recipe-intro,
.recipe-desc {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.recipe-intro img {
  box-shadow: -12px 12px 0 rgb(182, 0, 0);
  width: 100%;
  height: auto;
}

/* Adjusting height to match the tallest column in smaller screens */
@media (max-width: 1024px) {
  .recipe-container {
    flex-direction: column;
    align-items: center;
  }

  .recipe-intro img {
    width: 100%;
    margin-right: 0;
    margin-bottom: -1rem;
  }
  .recipe-name {
    font-size: 2rem; /* Adjust recipe name font size */
  }

  .subheading {
    font-size: 1.2rem; /* Adjust subheading font size */
  }

  .description {
    font-size: 1.3rem; /* Adjust description font size */
  }

  .info-rows h4,
  .info-rows h2 {
    font-size: 0.9rem; /* Adjust info font sizes */
  }
  .recipe-info {
    display: flex;
    justify-content: center; /* Center the icons */
  }

  .icon img {
    width: 50%;
    margin-bottom: 5px; /* Additional space between icons */
  }
  .ingredient-title {
    font-size: 2rem;
  }
  .big-title {
    font-size: 2rem;
  }
  .ingredient-list label {
    font-size: 1.2rem;
  }
}
.icon-img {
  opacity: 0.8;
}
.ingredients {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  align-items: center; /* Adjust as needed */
}

.ing-container {
  display: flex;
}

.ingImg {
  margin-bottom: 30px; /* Ensure the image doesn't exceed its container */
  width: 100%;
  max-width: 60%;
  margin-right: 15px; /* Add some spacing between image and text */
}

.text {
  flex-grow: 1; /* Allow the text to grow and take remaining space */
}
.back-button {
  display: inline-block;
  margin-left: 10%;
  padding: 10px 50px;
  background-color: #a30000; /* Green background color */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0px 5px 0 rgb(71, 0, 0);
  /* Add additional styling as needed */
}

.back-button:hover {
  background-color: #a04545; /* Darker green on hover */
}
img.recipe-image {
  box-shadow: -12px 12px 0 rgb(182, 0, 0);
  width: 100%;
  max-width: 60%;
  height: auto;
  margin-bottom: 2.2rem;
}
.ingredient-list {
  list-style: none;
  padding: 0;
  font-size: 1.1rem;
}

.ingredient-list li {
  margin-bottom: 0.5rem; /* Add spacing between list items */
  position: relative; /* Set position relative for pseudo-elements */
}

.ingredient-list label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2.5px solid #fff;
  background-color: #000;
}

.ingredient-list input[type="checkbox"]:checked + label:before {
  background-color: #000;
}

.ingredient-list label:after {
  content: " ";
  position: absolute;
  display: none;
}

.ingredient-list input[type="checkbox"]:checked + label:after {
  display: block;
  left: 10px;
  top: 2px;
  width: 5px;
  height: 12px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
strong {
  font-weight: normal;
}
.step-number {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 20px;
  margin-right: 10px; /* Adjust as needed for spacing */
}

.step img {
  width: 100%; /* Adjust the width as needed */
  height: auto;
  box-shadow: 8px 8px 0 rgb(163, 7, 7); /* Red shadow effect */
  margin-bottom: -15px;
}

.steps-container {
  text-align: center;
  margin: 0 20%; /* This centers the block horizontally */
  width: 120%; /* Adjust the width as needed */
}
@media (max-width: 768px) {
  .steps-container {
    margin: 0 auto;
    width: 100%; /* Center the block horizontally */
  }
}
@media (max-width: 969px) {
  .ingredients {
    display: flex;
    justify-content: center; /* Adjust as needed */
    align-items: center; /* Adjust as needed */
  }
}
p.rest-line {
  font-size: 1.35rem;
  text-align: left;
}
p.first-line {
  margin-top: 1rem;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.8rem;
  text-shadow: 2px 2px 0 rgb(188, 18, 18); /* Red shadow effect */
}
.fa {
  font-size: 1.75rem;
  color: white;
}
@media (max-width: 969px) {
  img.recipe-image {
    box-shadow: -12px 12px 0 rgb(182, 0, 0);
    width: 100%;
    max-width: 90%;
  }
  .recipe-desc {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  img.recipe-image {
    box-shadow: -12px 12px 0 rgb(182, 0, 0);
    width: 100%;
    max-width: 100%;
  }
  .recipe-desc {
    margin: 0 auto;
  }
  .save-button {
    display: none;
  }
}
